@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
$Mainfont: "Poppins";
$RegularFont: 400;
$MediumWFont: 500;
$SemiBoldFont: 600;
$BoldFont: 700;
$ExtraBoldFont: 800;
$BlackFont: 900;
$bg-color: green;