@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* Specify box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove internal padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove external padding */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set the default basic settings for body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins";
  font-weight: 600;
}

/* Remove standard styling for all uls and ils that have a class attribute*/
ul[class],
ol[class] {
  list-style: none;
}

/* Elements a that do not have a class are reset to default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Simplify working with images */
img {
  max-width: 100%;
  display: block;
}

/* Indicate a clear periodicity in the data stream of the article */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people who prefer not to use them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  cursor: url("../../pages/img/cursor.png"), auto;
}

[class*=__container] {
  max-width: 1150px;
  margin: 0 auto;
}

body {
  background: #eee;
}

h2 {
  font-size: 30px;
}

.Profile__block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}
.Profile__block .show {
  opacity: 1;
  pointer-events: auto;
}
.Profile__block .modal {
  background: white;
  width: 30vw;
  height: 30vw;
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 99;
}
.Profile__block .modal h1 {
  padding-bottom: 10px;
}
.Profile__block .modal .modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Profile__block .modal .modal__content img {
  max-width: 100%;
  /* Чтобы изображение не выходило за пределы блока */
}
.Profile__block .modal .modal__inf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Чтобы параграфы выравнивались слева */
  margin-top: 10px;
  /* Пространство между изображением и информацией */
}
.Profile__block .modal .modal__inf p {
  margin: 5px 0;
  position: relative;
}
.Profile__block .modal .modal__inf p a img {
  width: 15px;
  position: absolute;
  /* Абсолютное позиционирование */
  top: 50%;
  /* Располагаем изображение по вертикали по центру */
  transform: translateY(-50%);
  /* Корректируем позицию изображения по вертикали */
  right: -20px;
  /* Располагаем изображение справа */
  cursor: pointer;
}
.Profile__block .modal img {
  width: 180px;
}

.Authmodal__block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}
.Authmodal__block .show {
  opacity: 1;
  pointer-events: auto;
}
.Authmodal__block .modal {
  background: white;
  width: 30vw;
  height: 30vw;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 99;
}
.Authmodal__block .modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 30px 0 30px;
}
.Authmodal__block .modal form input {
  width: 350px;
  height: 55px;
  padding-left: 10px;
  border-radius: 7px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Authmodal__block .modal form button {
  width: 200px;
  height: 51px;
  background: rgba(255, 255, 0, 0.7);
  border: none;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-weight: bold;
}
.Authmodal__block .modal form button:hover {
  background: #fffc00;
}

.Regmodal__block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}
.Regmodal__block .show {
  opacity: 1;
  pointer-events: auto;
}
.Regmodal__block .modal {
  background: white;
  width: 30vw;
  height: 37vw;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.Regmodal__block .modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 30px 0 30px;
}
.Regmodal__block .modal form input {
  width: 350px;
  height: 44px;
  padding-left: 10px;
  border-radius: 7px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Regmodal__block .modal form button {
  width: 200px;
  height: 51px;
  background: rgba(255, 255, 0, 0.7);
  border: none;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-weight: bold;
}
.Regmodal__block .modal form button:hover {
  background: #fffc00;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  height: 580px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-top: 15px;
}
.header__container img {
  width: 120px;
}

.header__menu .menu__list {
  display: flex;
  gap: 60px;
}
.header__menu .menu__list li .menu__links {
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-out;
}
.header__menu .menu__list li .menu__links:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.header__logo img {
  cursor: pointer;
}

.header__search {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
}
.header__search .search-icon {
  position: absolute;
  padding-left: 5px;
}
.header__search .search__input {
  width: 20em;
  padding-left: 30px;
  border-radius: 20px;
  border: gray 1px solid;
  padding: 5px 0 5px 30px;
  background: #eee;
}

.header__buttons {
  display: flex;
  gap: 30px;
}
.header__buttons .button__signIn {
  text-decoration: none;
  color: #362f27;
  font-size: 18px;
  border: #362f27 2px solid;
  border-radius: 25px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header__buttons .button__signIn:hover {
  background: #ffff5c;
  color: black;
}
.header__buttons .button__signUp {
  text-decoration: none;
  color: #362f27;
  font-size: 18px;
  border: #362f27 2px solid;
  border-radius: 25px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header__buttons .button__signUp:hover {
  background: #ffff5c;
  color: black;
}

.mainScreen .mainScreen__container {
  display: flex;
  justify-content: space-around;
}

.mainScreen__text {
  padding-top: 120px;
}

.mainScreen__title {
  font-weight: normal;
  line-height: 54px;
  margin-left: 10px;
}
.mainScreen__title .mainScreen_keyword {
  background: #ffff5c;
  border-radius: 10px;
}
.mainScreen__title .mainScreen__animals {
  border: 2px solid black;
  padding: 2px;
  border-radius: 10px;
}

.main__section {
  text-align: center;
  padding-top: 30px;
}

.main__categories {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__categories .categories__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.main__categories .categories__list a {
  text-decoration: none;
  color: white;
}
.main__categories .categories__list .list__element {
  background: rgba(255, 255, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 215px;
  height: 300px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.main__categories .categories__list .list__element:hover {
  background: #fffc00;
}
.main__categories .categories__list .list__element img {
  width: 100px;
}
.main__categories .categories__list .list__element p {
  padding-top: 10px;
  font-size: 30px;
}

.companies__container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.companies__list {
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companies__list li img {
  width: 110px;
}

.history__container {
  text-align: center;
}

.history__block {
  height: 500px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.history__block p {
  width: 500px;
  text-indent: 30px;
  text-align: left;
}
.history__block img {
  width: 500px;
  border-radius: 5px;
}

.footer {
  background: black;
  height: 350px;
  z-index: -999;
}

.footer__container .mainFooter__container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: #ffff5c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 260px;
}
.footer__container .mainFooter__container nav {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.footer__container .mainFooter__container nav h2 {
  margin-right: 10px;
}
.footer__container .mainFooter__container nav ul {
  padding: 0;
  margin: 0;
}
.footer__container .mainFooter__container nav ul li {
  list-style-type: none;
}
.footer__container .mainFooter__container nav ul li a {
  cursor: pointer;
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}
.footer__container .mainFooter__container nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}
.footer__container .mainFooter__container nav ul li a:hover::after {
  transform: scaleX(1);
}
.footer__container .mainFooter__container .footer__questions {
  display: flex;
  flex-direction: row;
}
.footer__container .mainFooter__container .footer__questions form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__container .mainFooter__container .footer__questions form textarea {
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}
.footer__container .mainFooter__container .footer__questions form textarea:focus {
  border-color: black;
}
.footer__container .mainFooter__container .footer__questions form textarea:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.footer__container .mainFooter__container .footer__questions form button {
  border: 1px solid black;
  border-radius: 10px;
  background: #000;
  color: white;
  transition: all 0.3s ease-in;
}
.footer__container .mainFooter__container .footer__questions form button:hover {
  color: #fffc00;
  cursor: pointer;
}
.footer__container .FooterOtherInfo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__container .FooterOtherInfo__container .footer__PaymentMethods {
  display: flex;
  gap: 20px;
}
.footer__container .FooterOtherInfo__container .footer__Rights {
  color: white;
}
.footer__container .FooterOtherInfo__container .footer__SocialMedia {
  display: flex;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */