<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/Errors/404.css">
    <title>Document</title>
</head>

<body>
    <div class="background">
        <div class="errorText">
            <h1>OOOOPPPS</h1>
            <p>Looks like this page is missing. Sorry about that.</p>
            <a href="/home">Go home</a>
        </div>
        <div class="errorImage">
            <img src="../img/Errors/404Cat.png" alt="">
        </div>
    </div>
</body>

</html>